
<h2 style="margin:5% auto;width:75%">Order History</h2>
<table class="table table-hover table-bordered" style="margin:5% auto;width:75%">
    <thead>
        <tr>
          <th scope="col">Order Date</th>
          <th scope="col">Order Items</th>
          <th scope="col">Total Items</th>
          <th scope="col">Amount paid</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderHistory">
          <td>{{item.orderDate}}</td>
          <td>{{item.orderedItemNames}}</td>
          <td>{{item.totalQuantity}}</td>
          <td>{{item.orderTotal}}</td>
        </tr>
      </tbody>
</table>
